{% extends "header.html" %}

{% block main_content %}
	 <body>

	  <div class="container">
      <h3><b><i><u>Prefata</u></i></b></h3>
      <p>Cancerul de sân este cancerul care se formează în celulele sânilor. După cancerul de piele, cancerul de sân este cel mai frecvent cancer diagnosticat la femeile din România. Cancerul de sân poate apărea la bărbați și femei, dar este mult mai frecventă la femei. Sprijin substanțial pentru cancerul de sân de conștientizare și de finanțare de cercetare a contribuit la crearea de avansuri în diagnosticul și tratamentul cancerului de sân. Ratele de supraviețuire a cancerului mamar au crescut, iar numărul de decese asociate cu această boală este în continuă scădere, în mare parte datorită factorilor ar fi detectarea anterioară, o nouă abordare personalizată a tratamentului și o mai bună înțelegere a bolii.</p>
      <h3><b><i><u>Simptome</u></i></b></h3>
      <p>Semne si simptome:
        <ul>
          <li>Un nod mamar sau îngroșare care se simte diferit de țesutul înconjurător</li>
          <li>Modificarea dimensiunii, formei sau aspectului unui sân</li>
          <li>Modificări ale pielii peste sân, ar fi dimpling</li>
          <li>Un sfârc nou inversat</li>
          <li>Peeling, scalare, cruste sau exfoliere a zonei pigmentate a pielii din jurul mamelonului (areola) sau piele de sân.</li>
          <li>Roșeață sau inervare a pielii peste sân,pielea fiind ca o portocală</li>
        </ul>
     </p>
    </div>
	 </body>
{% endblock %}
