{% extends "header.html" %}
{% block main_content %}
	 <body>
	  <div class="container-fluid">
      <h3><b><u><i>Preventie</i></u></b></h3>
			<h4>Reducerea riscului de cancer mamar pentru femeile cu risc mediu</h4>
			<p>Efectuarea modificărilor în viața de zi cu zi poate ajuta la reducerea riscului de cancer de sân. Încercați să:</p>
			<div class="row">
				<ol>
					<li><p><b>Adresați-vă medicului dumneavoastră despre screening-ul cancerului mamar.</b>Discutați cu medicul dumneavoastră atunci când pentru a începe studiile de screening cancer mamar și teste, ar fi examenele clinice de sân și mamografii.</p><p>Discutați cu medicul dumneavoastră despre beneficiile și riscurile de screening. Împreună, puteți decide ce cancer de sân strategii de screening sunt potrivite pentru tine.</p></li>

					<li><p><b>Familiarizează-te cu ce se impune examenului mamar(la sânii) prin auto-examen mamar pentru siguranta sanatatii sânilor.</b> </p>Conștientizarea sânilor nu poate preveni cancerul de sân, dar vă poate ajuta să înțelegeți mai bine schimbările normale pe care sânii dumneavoastră suferă și să identifice orice semne neobișnuite și simptome.<p>Femeile pot alege să se familiarizeze cu sânii lor prin inspectarea ocazional sanii lor în timpul unui sân auto-examen pentru sensibilizarea sânilor. Dacă există o nouă schimbare, noduli sau alte semne neobișnuite în sânii dumneavoastră, discutați cu medicul dumneavoastră prompt.</p></li>

					<li><p><b>Beti alcool in moderatie</b>Limitați cantitatea de alcool pe care o beți pentru a nu mai mult de o băutură pe zi, dacă alegeți să beți.</p></li>

					<li><p><b>Exersati miscari fizice in fiecare zi</b>Scopul pentru cel puțin 30 de minute de exercițiu în cele mai multe zile ale săptămânii. Dacă nu ați fost activ în ultima vreme, adresați-vă medicului dumneavoastră dacă este OK și începe încet.</p></li>

					<li><p>Limiteaza terapia hormonala postmenopauza.<b></b>Terapia combinată cu hormoni poate crește riscul de cancer mamar. Discutați cu medicul dumneavoastră despre beneficiile și riscurile terapiei hormonale.</p><p>Unele femei experiență semne și simptome neplăcute în timpul menopauzei și, pentru aceste femei, riscul crescut de cancer de sân poate fi acceptabil pentru a calma semnele menopauzei și simptome.</p><p>  Unele femei experiență semne și simptome neplăcute în timpul menopauzei și, pentru aceste femei, riscul crescut de cancer de sân poate fi acceptabil pentru a calma semnele menopauzei și simptome.</p></li>

					<li><p><b>Mențineți o greutate sănătoasă</b>În cazul în care greutatea dumneavoastră este sănătos, de lucru pentru a menține această greutate. Dacă aveți nevoie să piardă în greutate, adresați-vă medicului dumneavoastră despre strategiile sănătoase pentru a realiza acest lucru. Reduce numărul de calorii mâncați în fiecare zi și crește încet cantitatea de exercițiu.</p></li>

					<li><p><b>Alege o dietă sănătoasă. </b> Femeile care mananca o dieta mediteraneană suplimentate cu ulei de măsline extra-virgin și nuci mixte pot avea un risc redus de cancer de sân. Dieta mediteraneană se concentrează mai ales pe alimente pe bază de plante, ar fi fructele și legumele, cereale integrale, leguminoase, și nuci. Oamenii care urmează dieta mediteraneană alege grăsimi sănătoase, ar fi uleiul de măsline, peste unt și pește în loc de carne rosie.</p></li>

				</ol>
				<ul>
					<h3><b><u><i>Reducerea riscului de cancer mamar pentru femeile cu un risc ridicat </i> </u> </b></h3>
					<p> în cazul în care medicul dumneavoastră a evaluat Istoricul familiei dumneavoastră și a stabilit că aveți alți factori, ar fi o afecțiune de sân precanceroase, care crește riscul de cancer de sân, puteți discuta opțiuni pentru a reduce riscul, ar fi: </p>
					<li> <b> medicamente preventive (chemoprevention). </b> Estrogen-blocarea medicamente, ar fi selectiv estrogen receptorilor modulatori și aromatază inhibitori, reduce riscul de cancer de sân la femeile cu un risc ridicat de boală.<p>Aceste medicamente transporta un risc de efecte secundare, astfel încât medicii rezervă aceste medicamente pentru femeile care au un risc foarte mare de cancer de sân. Discutați despre beneficiile și riscurile cu medicul dumneavoastră. </p> </li>
					<li> <b> chirurgie preventivă. </b> <p> femeile cu un risc foarte mare de cancer de sân poate alege să aibă sanii lor sănătoși, chirurgical îndepărtat (mastectomie profilactică). Ei pot alege, de asemenea, să aibă ovarele lor sănătoase eliminate (oophortomie profilactică) pentru a reduce riscul de cancer mamar și cancerul ovarian.</p></li>

				</ul>
			</div>
    </div>

	 </body>
{% endblock %}
